/* box */

.container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;

    min-height: 69vh;
	
	  animation: flicker 3s infinite alternate;
	
    border: 0.15rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem rgb(0, 0, 255),
                0 0 0.8rem rgb(0, 0, 255),
                0 0 2.8rem rgb(0, 0, 255),
                inset 0 0 1.3rem rgb(0, 0, 255);   
    font-family: sans-serif;

};

/* navbar */
.tab {
  overflow: hidden; 
}

.tab button {
  background-color: #010a01;
  float: left;
  
  border: 0.1rem solid #fff;
  border-radius: 2rem;
  padding: 1em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem rgb(0, 0, 100),
              0 0 0.8rem rgb(0, 0, 100),
              0 0 2.8rem rgb(0, 0, 100),
              inset 0 0 1.3rem rgb(0, 0, 100); 

  cursor: pointer;
}


.tab button:hover {
 box-shadow: 
  0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem rgb(0, 0, 255),
  0 0 0.8rem rgb(0, 0, 255),
  0 0 2.8rem rgb(0, 0, 255),
  inset 0 0 1.3rem rgb(0, 0, 255);
}


.tab button.active {
  box-shadow: 
  0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem rgb(0, 0, 255),
  0 0 0.8rem rgb(0, 0, 255),
  0 0 2.8rem rgb(0, 0, 255),
  inset 0 0 1.3rem rgb(0, 0, 255);
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;
}

/* collapsibles */
.collapsible {
  background-color: #010a01;
  cursor: pointer;
  border: 0.1rem solid #fff;
  border-radius: 1.1em;
  padding: 1em;
  box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem rgb(0, 0, 255),
    0 0 0.8rem rgb(0, 0, 255),
    0 0 2.8rem rgb(0, 0, 255),
    inset 0 0 1.3rem rgb(0, 0, 255);
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin-top: 10px;

}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #010a01;
}

/* achtergrond */
body {
  font-size: 18px;
  font-family: "Vibur", sans-serif;
  background-color: #010a01;
}

/* neon */
p, h1 {
  color: rgb(255, 255, 255);
  margin-top: 15px;
}

h3 {
	color: rgb(255, 255, 255);
	margin-left: 5px;
}


.neonText {
	color: rgb(255, 255, 255);
}
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
	  box-shadow:
      0 0 4px rgb(0,0, 155),
      0 0 11px rgb(0,0, 155),
      0 0 19px rgb(0,0, 155),
      0 0 40px rgb(0, 0, 255),
      0 0 80px rgb(0, 0, 255),
      0 0 90px rgb(0, 0, 255),
      0 0 100px rgb(0, 0, 255);
  
  }
  
  20%, 24%, 55% {        
      box-shadow: none;
  }    
}

body {
	color: rgb(255, 255, 255);
}

img {
    border: 0.15rem solid #fff;
    border-radius: 1rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem rgb(0, 0, 255),
                0 0 0.8rem rgb(0, 0, 255),
                0 0 2.8rem rgb(0, 0, 255),
                inset 0 0 1.3rem rgb(0, 0, 255);
}
